.left-side
	width: 50%
	float: left
.right-side
	width: 50%

.tittle-content
	font-size: 62px
	font-family: "SansusWebissimo"
	color: rgb(55, 62, 66)
	text-transform: uppercase
	line-height: 1.048
	text-align: center
	-moz-transform: matrix( 1.0023692661277,0,0,1.00330472963484,0,0)
	-webkit-transform: matrix( 1.0023692661277,0,0,1.00330472963484,0,0)
	-ms-transform: matrix( 1.0023692661277,0,0,1.00330472963484,0,0)
	font-weight: normal
	font-style: normal