.footer
	background-color: rgba(28,31,41, 0.85)

/* Колонки в футере */
.footer__columns-block
	color: #fff /* Временно */
	padding: 20px 0
	display: flex
.footer__column
	vertical-align: top
	width: 30%
	min-height: 63px
	padding: 15px 10px
	margin: 0 1.5%
	border-left: 2px solid rgba(255,255,255, 0.2)
	&:first-child
		border-left: none


/* Нижнее меню в футере */
.bottom-menu
.b-menu__list
	padding: 0
	margin: 0
.b-menu__item
	display: inline-block
	margin: 0px 5px
	padding: 0px 5px
.b-menu__item__link
	font-family: 'Roboto'
	font-size: 16px
	font-weight: 500
	color: rgba(255,255,255, 1)
	cursor: pointer
	padding: 0 10px
	text-decoration: none
	&:first-child
		padding-left: 0
	&:hover
		text-decoration: underline


/* Лист контактов в футере */
.contact-list
	margin: 0
	padding: 0
.contact-list__item
	list-style: none
.contact-list___link
	font-size: 1rem
	font-family: 'Roboto'
	color: rgb(255, 255, 255)
	line-height: 1.6rem
	font-weight: 300
	font-style: normal
	text-decoration: none


.bcg-blue
	background-color: #2b57a4

.copyright-main
	position: absolute
	bottom: 15px
	left: 0
	width: 100%

.copyright
	padding: 10px 5px
	height: 38px
.copyright-text
	font-size: 1rem
	font-family: "Roboto"
	color: rgb(255, 255, 255)
	line-height: 1rem
	text-align: center