.contacts-popup
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	max-width: 580px
	min-height: 230px
	margin: 0 auto
	padding: 10px 20px 10px 20px
	background-color: rgba(255, 255, 255, 0.7)
	box-shadow: 0 0 0 1px rgba(0,0,0, 0.2)
	z-index: 120


.title-popup
	font-size: 35px
	margin: 5px 0 20px 0
	font-family: 'SansusWebissimo'
	color: rgb(71, 75, 87)
	text-transform: uppercase
	text-align: center
	font-weight: normal
	&:after
		content: ''
		display: block
		margin: 20px auto 0 auto
		background: rgba(71, 75, 87, 0.5)
		width: 89px
		height: 3px

/* Контакты с иконками */
.contacts-popup__list
	padding: 5px 0 0 0
	margin: 0
.contacts-popup__list__item
	vertical-align: top
	list-style: none
	padding: 0
	margin-bottom: 28px
	width: 49%
	min-width: 200px
	max-width: 290px
	display: inline-block
	/* adapt--width&display */


.contact-list__item_wrap-icon
	float: left
	width: 45px
	height: 45px
	background-color: #004cd1
	color: #fff
	text-align: center
	line-height: 45px
	font-size: 24px
	margin-right: 10px
	border-radius: 50%

.contact-list__item_wrap-descr
	padding-left: 55px
	padding-top: 10px
.contacts-popup__link
	font-size: 16px
	font-family: 'Roboto'
	color: rgba(71, 75, 87, 0.8)
	text-decoration: none
	line-height: 5px
	font-weight: 500

