.social-icons-list
	width: 210px
	margin: 0
	padding: 20px 20px
.social-icon
	display: inline-block
	margin-right: 18px
	&:last-child
		margin-right: 0
.social-icon__link
	font-size: 2em
	cursor: pointer
	color: #f8f8f8
	&:hover
		color: #004cd1
.icon-item
