.text-block
	width: 340px
	min-height: 330px
	padding: 25px 5px
	text-align: center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
.text-block__title
	font-size: 35px
	font-family: "SansusWebissimo"
	color: rgb(71, 75, 87)
	text-transform: uppercase
	line-height: 1.17em
	text-align: center
	margin: 10px 0
	&:after
		content: ''
		display: block
		width: 87px
		height: 3px
		background: #98999c
		margin: 25px auto 0 auto

.text-block__descr
	padding: 10px 0
	font-size: 16px
	font-family: "Roboto"
	color: rgb(8, 60, 150)
	line-height: 1.2em
	text-align: center
	text-transform: uppercase
	font-weight: bold

.text-block__link
	padding-top: 40px
.link-btn
	display: block
	width: 200px
	height: 45px
	margin: 0px auto
	padding: 8px 0
	font-size: 16px
	font-family: "Roboto"
	color: rgb(255, 255, 255)
	line-height: 27px
	text-align: center
	text-decoration: none
	font-style: normal
	background: rgb(0, 76, 209)
	&:hover
		text-decoration: underline
.icon-link
	font-size: 1.3em
	line-height: 27px
	margin-right: 7px


