.bottom-content
	background-image: url(../img/bg_header_night.jpg)
	background-size: cover
	padding: 30px 0



/* Блок портфолио */
.portfolio-wrapper
	height: 750px
.portfolio__preview-block
	position: relative
	float: right
	background-color: #FFF
	height: 70%
	width: 50%
	overflow: hidden
.portfolio__preview-block__slide-container
	display: flex
	height: 100%
/* Изображение слайда */
.portfolio__preview__image
	margin: auto
	max-width: 100%
	max-height: 100%


/* Описание работы */
.portfolio__description
	float: left
	position: relative
	height: 100%
	width: 50%
.portfolio__description__container
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
.portfolio__description__container__item
	width: 380px
	min-height: 280px
	margin: 0 auto


/* Заголовок проекта */
.portfolio__description__title
	font-size: 35px
	font-family: "SansusWebissimo"
	color: rgb(71, 75, 87)
	text-transform: uppercase
	line-height: 1.17em
	text-align: center
	margin: 10px 0
	&:after
		content: ''
		display: block
		width: 87px
		height: 3px
		background: #98999c
		margin: 25px auto 0 auto
.portfolio__description__text
	padding: 10px 0
	font-size: 16px
	font-family: "Roboto"
	color: rgb(8, 60, 150)
	line-height: 1.2em
	text-align: center
	text-transform: uppercase
	font-weight: bold
/* Ссылка на проект */
.portfolio__description__link
	padding-top: 40px
.link-btn
	display: block
	width: 200px
	height: 45px
	margin: 0px auto
	padding: 8px 0
	font-size: 1rem
	font-family: "Roboto"
	color: rgb(255, 255, 255)
	line-height: 1.5rem
	text-align: center
	text-decoration: none
	font-style: normal
	background: rgb(0, 76, 209)
	&:hover
		text-decoration: underline
.icon-link
	font-size: 1rem
	line-height: 1rem
	margin-right: 7px


/* Управление слайдами */
.portfolio__thumbnail-wrapper
	height: 30%
	float: right
	width: 50%
.portfolio__thumbnail__control
	position: relative
	width: 50%
	height: 100%
	float: left
	overflow: hidden
	box-shadow: inset 0 0 10px 5px rgba(0,0,0, 0.1)

.list-thumb__wrap
	position: absolute
	width: 90%
	max-width: 600px
	height: 90%
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	background-color: red

.portfolio-list-thumb
	padding: 0
	margin: 0
	position: relative
	height: 100%
	width: 100%
	overflow: hidden
.portfolio-list-thumb__item
	list-style: none
	height: 100%




.portfolio__thumbnail__link
.portfolio__thumbnail-image
	display: block
	max-width: 100%
	max-height: 100%
	margin: 0 auto
.slider__link-down
.slider__link-up

/* ------------------------ */





/* Блок отзывов */
.block-reviews
	padding: 25px 10px
	margin: 0 auto
.block-reviews__column
	width: 400px
	float: left
	margin: 0px auto
	padding: 20px 10px 0 10px
/* Фото автора */
.review__photo-autor
	width: 80px
	height: 80px
	border-radius: 50%
	overflow: hidden
	margin: 10px auto
.review_text
	font-size: 16px
	font-family: "Roboto"
	color: rgb(255, 255, 255)
	font-style: italic
	line-height: 1.6rem
	text-align: left
.review_autor
	font-size: 16px
	font-family: "Roboto"
	color: rgb(255, 255, 255)
	font-style: italic
	line-height: 1.5rem
	text-align: center
	margin: 20px 0 0 0


/* Форма контактов */
.wrap-form-contact
	padding: 30px 0
.form-contact
	background-color: rgba(0, 0, 0, 0.2)
	// background-color: rgba(255, 255, 255, 0.07)
	height: 440px
	width: 380px
	margin: 10px auto
	padding: 30px 0 0 0

.f-input
	background-color: rgba(255, 255, 255, 0.2)
	border: none
	margin: 17px 23px 4px 23px
	width: 340px
	height: 45px
	font-size: 1rem
	font-family: "Roboto"
	color: rgba(255, 255, 255, 0.502)
	line-height: 2rem
	padding: 13px 16px

.f-input-textarea
	height: 130px
	line-height: 1.8rem
	resize: none
	padding: 7px 16px

.form-contact__container__controls
	padding-top: 10px
.f-button
	color: rgba(255, 255, 255, 0.502)
	background-color: rgba(255, 255, 255, 0.01)
	border: none
	width: 190px
	height: 45px
	float: left
	font-size: 16px
	font-family: "Roboto"
	line-height: 2.3rem
	text-align: center
	&:hover
		color: rgb(255, 255, 255)
		background-color: rgb(0, 76, 209)
