@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/roboto-light-webfont.eot");
  src: url("../fonts/Roboto/roboto-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-light-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-light-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-light-webfont.svg#robotolight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/roboto-medium-webfont.eot");
  src: url("../fonts/Roboto/roboto-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-medium-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-medium-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-medium-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-medium-webfont.svg#robotomedium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/roboto-regular-webfont.eot");
  src: url("../fonts/Roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-regular-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/roboto-bold-webfont.eot");
  src: url("../fonts/Roboto/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/Roboto/roboto-bold-webfont.woff") format("woff"), url("../fonts/Roboto/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/Roboto/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'SansusWebissimo';
  src: url("../fonts/SansusWebissimo/sansus_webissimo-regular-webfont.eot");
  src: url("../fonts/SansusWebissimo/sansus_webissimo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SansusWebissimo/sansus_webissimo-regular-webfont.woff2") format("woff2"), url("../fonts/SansusWebissimo/sansus_webissimo-regular-webfont.woff") format("woff"), url("../fonts/SansusWebissimo/sansus_webissimo-regular-webfont.ttf") format("truetype"), url("../fonts/SansusWebissimo/sansus_webissimo-regular-webfont.svg#sansus_webissimoregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'loftfont';
  src: url("../fonts/loftfont/loft-font.eot?45116987");
  src: url("../fonts/loftfont/loft-font.eot?45116987#iefix") format("embedded-opentype"), url("../fonts/loftfont/loft-font.woff2?45116987") format("woff2"), url("../fonts/loftfont/loft-font.woff?45116987") format("woff"), url("../fonts/loftfont/loft-font.ttf?45116987") format("truetype"), url("../fonts/loftfont/loft-font.svg?45116987#loft-font") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "loftfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-skype:before {
  content: '\e800'; }

.icon-mail:before {
  content: '\e801'; }

.icon-phone:before {
  content: '\e802'; }

.icon-vkontakte:before {
  content: '\e803'; }

.icon-linkedin:before {
  content: '\e804'; }

.icon-github:before {
  content: '\e805'; }

.icon-git:before {
  content: '\e806'; }

.icon-key:before {
  content: '\e807'; }

.icon-key-1:before {
  content: '\e808'; }

.icon-key-2:before {
  content: '\e809'; }

.icon-user:before {
  content: '\e80a'; }

.icon-link:before {
  content: '\e80b'; }

.icon-up-open:before {
  content: '\e80c'; }

.icon-down-open:before {
  content: '\e80d'; }

.icon-up-open-1:before {
  content: '\e80e'; }

.icon-location:before {
  content: '\e80f'; }

/* Font-icon */
html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "RobotoRegular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.clearfix {
  content: "";
  display: table;
  clear: both; }

.hidden {
  display: none; }

img {
  max-width: 100%; }

p {
  font-size: 16px;
  font-family: "Roboto";
  color: #474b57;
  line-height: 1.5em;
  text-align: left; }

/* Кнопка гамбургер */
.btn-sandwitch {
  position: fixed;
  padding: 0;
  top: 25px;
  right: 15px;
  border: 0;
  background: none;
  z-index: 40; }

.btn-sandwitch__toggle {
  display: block;
  height: 45px;
  width: 45px; }
  .btn-sandwitch__toggle.active .sw-top {
    top: 19px;
    -webkit-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
            transform: rotate(140deg); }
  .btn-sandwitch__toggle.active .sw-middle {
    opacity: 0; }
  .btn-sandwitch__toggle.active .sw-bottom {
    top: 9px;
    -webkit-transform: rotate(-140deg);
        -ms-transform: rotate(-140deg);
            transform: rotate(-140deg); }

.sw-line {
  height: 5px;
  width: 40px;
  background-color: #FFF;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: relative;
  display: block;
  margin: 0 auto; }

.sw-top {
  top: 5px; }

.sw-middle {
  top: 15px; }

.sw-bottom {
  top: 25px; }

.wrap-navigation {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 30; }

.main-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 54, 105, 0.87); }

.nav-list {
  vertical-align: middle;
  padding-top: 6%;
  margin: 0; }

.nav-list__item {
  width: 100%;
  margin-bottom: 10px;
  list-style: none; }

.nav-list__item__link {
  display: block;
  width: 100%;
  font-size: 29px;
  font-family: 'Roboto';
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  font-style: normal; }
  .nav-list__item__link:after {
    content: ' ';
    display: block;
    margin: 0 auto;
    height: 3px;
    width: 0px;
    background: #fff;
    opacity: 0;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all; }
  .nav-list__item__link:hover {
    cursor: pointer; }
    .nav-list__item__link:hover:after {
      opacity: 1;
      width: 89px; }

/*-----*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.main-wrapper {
  display: block;
  margin: 0 auto;
  height: 100%; }

.header {
  min-height: 300px;
  height: 100vh; }

.wrap-header {
  display: block;
  position: relative;
  height: 100%;
  background-image: url(../img/bg_header_night.jpg);
  background-size: cover; }

.header-info {
  position: absolute;
  width: 360px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.header-info__avatar {
  width: 141px;
  height: 141px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 15px auto;
  vertical-align: top; }

.header-info__avatar__img {
  max-width: 100%; }

.header-info__title {
  margin: 15px 0 0 0; }

.h-info__title {
  font-size: 35px;
  font-family: 'Roboto';
  color: white;
  line-height: 1.2em;
  vertical-align: top;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  margin: 0; }

.header-info__description {
  vertical-align: top; }

.h-info__descr {
  font-size: 16px;
  font-family: "Roboto";
  color: white;
  line-height: 1.5;
  text-align: center;
  margin: 0; }

/*-----*/
/* Треугольник */
.box-traingle {
  margin: 0 auto; }

.traingle-left {
  fill: red; }

.traingle-right {
  fill: blue; }

.social-icons-list {
  width: 210px;
  margin: 0;
  padding: 20px 20px; }

.social-icon {
  display: inline-block;
  margin-right: 18px; }
  .social-icon:last-child {
    margin-right: 0; }

.social-icon__link {
  font-size: 2em;
  cursor: pointer;
  color: #f8f8f8; }
  .social-icon__link:hover {
    color: #004cd1; }

.wrapper-content {
  position: relative; }

.wrapper-content::before {
  content: '';
  position: absolute;
  background-image: url(../img/triangle.png);
  background-size: 100% 100%;
  width: 100%;
  height: 165px;
  top: -165px;
  z-index: 10; }

/* Разбиение на колонки */
.main-content {
  background-color: #f2f0e8; }

.left-side {
  width: 50%;
  float: left;
  background-color: #f2f0e8;
  padding: 0 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.right-side {
  width: 50%;
  float: left;
  background-color: #eae8e2;
  padding: 0 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* Левая колонка на две */
.top-content-block {
  width: 50%;
  float: left; }

.middle-content-block {
  width: 50%;
  float: left; }

.middle-block__wrap {
  padding: 0 20px;
  margin: 0 auto; }

/* Главный контент */
.tittle-content {
  font-size: 28px;
  font-family: "Roboto";
  color: #373e42;
  text-transform: uppercase;
  line-height: 1.048;
  text-align: center;
  font-weight: normal;
  font-style: normal; }

.tittle-content {
  font-size: 62px;
  font-family: "SansusWebissimo";
    font-family-color: #373e42;
  text-transform: uppercase;
  line-height: 1.17em;
  text-align: center;
  font-weight: 500;
  font-style: bold;
  margin: 0; }

.tittle-h3 {
  font-size: 35px;
  font-family: "SansusWebissimo";
  color: #474b57;
  text-transform: uppercase;
  line-height: 1.17em;
  text-align: center;
  margin: 10px 0; }
  .tittle-h3:after {
    content: '';
    display: block;
    width: 87px;
    height: 3px;
    background: #98999c;
    margin: 25px auto 0 auto; }

.img-content {
  width: 70%; }

.diagram-block {
  margin: 30px 0 0 0;
  padding: 25px 5px; }

.diagram-title {
  font-size: 2em;
  font-family: "Roboto";
  color: #474b57;
  line-height: 1.2em;
  margin: 10px 0; }

.diagram-list {
  padding: 5px 0 10px 0;
  margin: 5px 0 20px 0; }

.diagram-list__item {
  display: inline-block;
  margin-right: 35px;
  width: 120px;
  height: 120px;
  overflow: hidden; }
  .diagram-list__item:last-child {
    margin-right: 0; }

.contacts-popup {
  max-width: 560px;
  min-height: 230px;
  margin: 0 auto;
  padding: 10px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2); }

.title-popup {
  font-size: 35px;
  margin: 5px 0 20px 0;
  font-family: 'SansusWebissimo';
  color: #474b57;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal; }
  .title-popup:after {
    content: '';
    display: block;
    margin: 30px auto 0 auto;
    background: rgba(71, 75, 87, 0.5);
    width: 89px;
    height: 3px; }

.contacts-popup__list {
  padding: 0;
  margin: 10px 0 0 0; }

.contacts-popup__list__item {
  vertical-align: top;
  list-style: none;
  margin-bottom: 25px;
  margin-right: 5px;
  width: 47%;
  max-width: 280px;
  display: inline-block;
  /* adapt--width&display */ }

.contact-list__item_wrap-icon {
  float: left;
  width: 45px;
  height: 45px;
  background-color: #004cd1;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 24px;
  margin-right: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.contact-list__item_wrap-descr {
  padding-left: 55px;
  padding-top: 10px; }

.contacts-popup__link {
  font-size: 16px;
  font-family: 'Roboto';
  color: rgba(71, 75, 87, 0.8);
  text-decoration: none;
  line-height: 5px;
  font-weight: 500; }

.footer {
  background-color: rgba(0, 0, 0, 0.7); }

/* Колонки в футере */
.columns-block {
  color: #fff;
  padding: 20px 0; }

.column {
  display: inline-block;
  vertical-align: top;
  max-width: 30%;
  padding: 0 10px;
  margin: 0 1.5%;
  border-left: 2px solid rgba(255, 255, 255, 0.2); }
  .column:first-child {
    border-left: none; }

/* Нижнее меню в футере */
.b-menu__list {
  padding: 0;
  margin: 0; }

.b-menu__item {
  display: inline-block; }

.b-menu__link {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  padding: 0 5px; }
  .b-menu__link:first-child {
    padding-left: 0; }

/* Лист контактов в футере */
.contact-list {
  margin: 0;
  padding: 0; }

.contact-list__item {
  list-style: none; }

.contact-list__link {
  font-size: 16px;
  font-family: 'Roboto';
  color: white;
  line-height: 1.625;
  font-weight: 300;
  font-style: normal; }

.copyright {
  background-color: #2b57a4; }

.copyright-text {
  text-align: center;
  color: #fff; }
