doctype html
html(lang="ru")
    head
        title Обо мне
        meta(charset='utf-8')
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/libs/normalize.min.css")
        script(src="libs/modernizr/modernizr.js")
    body
        .main-wrapper
            include teamplate/_mixin
            include teamplate/header
            .wrapper-content.about
                include teamplate/about
            include teamplate/map
            include teamplate/footer
        script(type="text/javascript" src="bower-libs/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="js/libs.min.js")
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDGyS4Ch28czN3_lOLTbxsxzDGeoNFjVJQ&sensor=false&extension=.js')
        script(type="text/javascript" src="js/map.js")
        script(type="text/javascript" src="js/common.js")

