doctype html
html(lang="ru")
    head
        title Главная страница
        meta(charset='utf-8')
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        link(rel="stylesheet", href="bower-libs/normalize-css/normalize.css")
        link(rel="stylesheet", href="css/main.css")
    body
        .main-wrapper
            include teamplate/_mixin
            header.header.header-SignIn
                .wrap-header
                    .header__top-line
                        .wrap-btn-SignIn
                            a.btn-SignIn(href="#") Авторизоваться
                .authorization-block
                    include teamplate/welcome-block
                    include teamplate/authorization-form
            .copyright.copyright-main
                .copyright-text.
                    © Попов Иван | Создано с любовью в LoftSchool | 2016
        include teamplate/_scripts