doctype html
html(lang="ru")
    head
        title 1244455
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/libs/normalize.min.css")
        <script src="libs/modernizr/modernizr.js"></script>
    body
        include teamplate/_mixin
        include teamplate/header
        include teamplate/content
        include teamplate/map
        include teamplate/footer
        script(type="text/javascript" src="js/jquery/jquery.min.js")
        script(type="text/javascript" src="js/common.js")

