doctype html
html(lang="ru")
    head
        title Портфолио
        meta(charset='utf-8')
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        link(rel="stylesheet", href="bower-libs/normalize-css/normalize.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/media.css")
    body
        .main-wrapper
            include teamplate/_mixin
            include teamplate/header-user
            .wrapper-content
                .main-content.clearfix
                    .portfolio-wrapper.clearfix#portfolio-container
                        .portfolio__preview-block
                            .portfolio__preview-block__slide-container
                                img(src="img/slider/preview/img_prev-1.png").portfolio__preview__image

                        .portfolio__description
                            .portfolio__description__container
                                .portfolio__description__container__item
                                    h3.portfolio__description__title Сайт школы онлайн образования
                                    div.portfolio__description__text
                                        | html, css, javascript
                                    .portfolio__description__link
                                        a(href="#").link-btn
                                            i.icon-link
                                            | Посмотреть сайт

                        .portfolio__thumbnail
                            .portfolio__thumbnail-wrapper
                                .portfolio__thumbnail__control.thumbnail__left-control
                                    .list-thumb__wrap
                                        ul.portfolio-list-thumb
                                            li.portfolio-list-thumb__item
                                                a(href="#").portfolio__thumbnail__link.slider__link-down
                                                    img(src="img/slider/thumbnail/work1.png").portfolio__thumbnail-image.slider__thumbnail__next
                                .portfolio__thumbnail__control.thumbnail__right-control
                                    .list-thumb__wrap
                                        ul.portfolio-list-thumb
                                            li.portfolio-list-thumb__item
                                                a(href="#").portfolio__thumbnail__link.slider__link-up
                                                    img(src="img/slider/thumbnail/img_thumb-2.png").portfolio__thumbnail-image.slider__thumbnail__prev
                .bottom-content
                    .tittle-content.white-text Что обо мне говорят
                    .block-reviews.clearfix
                        .block-reviews__column
                            .review__photo-autor
                                img(src="img/userfiles/dmitriy_koval.jpg" alt="Дмитрий Ковальчук")
                            .review_text
                                | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                            .review_autor
                                | <b>Ковальчук Дмитрий</b> <br> - основатель LoftSchool
                        .block-reviews__column
                            .review__photo-autor
                                img(src="img/userfiles/zar_zaharov.jpg" alt="Зар Захаров")
                            .review_text
                                | Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                            .review_autor
                                | <b>Зар Захаров</b> <br> - главный преподаватель
                    include teamplate/form-contacts
            include teamplate/footer
        include teamplate/_scripts