- var menuItems = {"works.html": "Мои работы", "about.html": "Обо мне", "blog.html": "Блог", "index.html": "Авторизация"}

mixin menu (classList, classItem)
	ul(class="#{classList}")
		each title_link, href in menuItems
			li(class="#{classItem}")
				a(class="#{classItem}__link", href=href)=title_link