mixin popupinfo(img-href, img-alt, title, descr)
	.user-info
		.user-info_avatar
			img(src=img-href, alt=img-alt)
		.user-info_name
			h2.name-user title
		.user-info_description
			p.descr descr


mixin social-icons(icons)
	.header-info
		.header-info__avatar
			img(class="header-info__avatar__img", src="img/userfiles/photo.jpg", alt="Иван Попов")
		.header-info__title
			h2.h-info__title Иван Попов
		.header-info__description
			p.h-info__descr Веб Разработчик