.main-content.clearfix
	.left-side.area-content
		.top-content-block
			h2.tittle-content Обо мне
		.middle-content-block
			img(src="img/userfiles/photo.jpg", class="photo_content", alt="Фото Иван Попов")
			h3.tittle-h3 Кто я
			p.
				Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтом и приложений. Мне нравится делать интересные и современные проекты.
			P.
				Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
	.right-side.area-content
		include diagram