.user-block
	.login-block
		h3.tittle-h3.white-text Авторизуйтесь
		form.form-signIn
			.form-signIn__wrap-login
				input(type="text" placeholder="Логин").form-signIn-input.form-signIn__login
			.form-signIn__wrap-password
				input(type="password" placeholder="Пароль").form-signIn-input.form-signIn__password
			.form-signIn__wrap-check
				label
					input(type="checkbox" name="check-notHuman").form-signIn-checkbox
					| Я человек
			.form-signIn__wrap_text-block
				| Вы точно человек?
			.form-signIn__wrap-check-repeat
				label.form-signIn__check-repeat-label
					input(type="radio" name="check-human" value="true").form-signIn__check-repeat
					| Да
				label.form-signIn__check-repeat-label
					input(type="radio" name="check-human" value="false").form-signIn__check-repeat
					| Не уверен
		ul.horizont-nav
			li.horizont-nav__item
				a(href="/works.html").horizont-nav__item__link На главную
			li.horizont-nav__item
				a(href="/about.html").horizont-nav__item__link Войти