.main-content
	.left-side
		.wrap-content
			h2.tittle-content Обо sdkjklj
			.main-info
				img(src="img/userfiles/photo.jpg", alt="Фото Иван Попов")
			.content
				h3 Кто я
				p.
					Я веб разработчик из Санкт-Петербурга. Мне 23 года. Я занимаюсь веб разработкой уже 3 года. Стараюсь не отставать от современных технологий, надеюсь на лучшее.
	.right-side
		include diagram