.diagram-block
	h4.diagram-title Frontend
	ul.diagram-list
		li.diagram-list__item
			span.diagram-list__item__descr HTML5
			input.dial(type="text" value="75" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr CSS3
			input.dial(type="text" value="23" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr JavaScript & jQuery
			input.dial(type="text" value="40" readonly)
	h4.diagram-title Backend
	ul.diagram-list
		li.diagram-list__item
			span.diagram-list__item__descr PHP
			input.dial(type="text" value="63" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr mySQL
			input.dial(type="text" value="24" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr Node.js & npm
			input.dial(type="text" value="90" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr Mongo.db
			input.dial(type="text" value="32" readonly)
	h4.diagram-title Workflow
	ul.diagram-list
		li.diagram-list__item
			span.diagram-list__item__descr Git
			input.dial(type="text" value="70" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr Gulp
			input.dial(type="text" value="42" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr Bower
			input.dial(type="text" value="33" readonly)