h3.tittle-h3 Чем я могу быть <br> вам полезен
p.
	Больше всего меня привлекает Frontend разработка, но так же могу решать и дургие задачи
.diagram-block
	h4 Frontend
	ul.diagram-list
		li.diagram-list__item
		li.diagram-list__item
		li.diagram-list__item
	h4 Backend
	ul.diagram-list
		li.diagram-list__item
		li.diagram-list__item
		li.diagram-list__item
		li.diagram-list__item
	h4 Workflow
	ul.diagram-list
		li.diagram-list__item
		li.diagram-list__item
		li.diagram-list__item