h3.tittle-h3 Чем я могу быть <br> вам полезен
p.
	Больше всего меня привлекает Frontend разработка, но так же могу решать и дургие задачи
.diagram-block
	h4.diagram-title Frontend
	ul.diagram-list
		li.diagram-list__item
			span.diagram-list__item__descr HTML5
			input.dial(type="text" data-width="120" value="75" data-fgColor="#165ad1" data-displayInput="false" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr CSS3
			input.dial(type="text" data-width="120" value="23" data-fgColor="#165ad1" data-displayInput="false" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr JavaScript & jQuery
			input.dial(type="text" data-width="120" value="40" data-fgColor="#165ad1" data-displayInput="false" readonly)
	h4.diagram-title Backend
	ul.diagram-list
		li.diagram-list__item
			span.diagram-list__item__descr PHP
			input.dial(type="text" data-width="120" value="63" data-fgColor="#165ad1" data-displayInput="false" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr mySQL
			input.dial(type="text" data-width="120" value="24" data-fgColor="#165ad1" data-displayInput="false" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr Node.js & npm
			input.dial(type="text" data-width="120" value="90" data-fgColor="#165ad1" data-displayInput="false" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr Mongo.db
			input.dial(type="text" data-width="120" value="32" data-fgColor="#165ad1" data-displayInput="false" readonly)
	h4.diagram-title Workflow
	ul.diagram-list
		li.diagram-list__item
			span.diagram-list__item__descr Git
			input.dial(type="text" data-width="120" value="70" data-fgColor="#165ad1" data-displayInput="false" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr Gulp
			input.dial(type="text" data-width="120" value="42" data-fgColor="#165ad1" data-displayInput="false" readonly)
		li.diagram-list__item
			span.diagram-list__item__descr Bower
			input.dial(type="text" data-width="120" value="33" data-fgColor="#165ad1" data-displayInput="false" readonly)