footer.footer
	.footer__columns-block
		.footer__column
			span.
				Этот сайт я сделал в рамках
				обучения в Школе онлайн
				образования LoftSchool
		.footer__column
			.bottom-menu
				+menu('b-menu__list', 'b-menu__item')
			include social_icon
		.footer__column
			ul.contact-list
				li.contact-list__item
					a(href="#", target="_blank").contact-list___link.
						skype_kdn
				li.contact-list__item
					a(href="#", target="_blank").contact-list___link.
						vian142@gmail.com
				li.contact-list__item
					a(href="#", target="_blank").contact-list___link.
						+79185336545
				li.contact-list__item
					a(href="#", target="_blank").contact-list___link.
						г.Санкт-Петербург, улица дом
	.copyright.bcg-blue
		.copyright-text.
			© Попов Иван | Создано с любовью в LoftSchool | 2016