footer.footer
	.columns-block
		.column
			span.
				Этот сайт я сделал в рамках
				обучения в Школе онлайн
				образования LoftSchool
		.column
			.bottom-menu
				ul.b-menu__list
					li.b-menu__item
						a.b-menu__link Мои работы
					li.b-menu__item
						a.b-menu__link Обо мне
					li.b-menu__item
						a.b-menu__link Блок
					li.b-menu__item
						a.b-menu__link Авторизация
			include social_icon
		.column
			ul.contact-list
				li.contact-list__item
					a(href="#", target="_blank").contact-list___link.
						skype_kdn
				li.contact-list__item
					a(href="#", target="_blank").contact-list___link.
						vian142@gmail.com
				li.contact-list__item
					a(href="#", target="_blank").contact-list___link.
						+79185336545
				li.contact-list__item
					a(href="#", target="_blank").contact-list___link.
						г.Санкт-Петербург, улица дом
	.copyright
		.copyright-text.
			@Попов Иван | Создано с любовью в LoftSchool | 2016