.wrap-form-contact
	.form-contact
		h3.tittle-h3.white-text Связаться со мной
		form.form-contact__container
			.form-contact__container__name
				input(type='text' placeholder="Ваше имя").f-input.f-input-name
			.form-contact__container__email
				input(type='email' placeholder="Ваш email").f-input.f-input-email
			.form-contact__container__msg
				textarea(placeholder="Ваше сообщение").f-input.f-input-textarea
			.form-contact__container__controls
				.form-contact__container__submit
					button(type='submit').f-button.f-button-submit
						| Отправить
				.form-contact__container__reset
					button(type='reset').f-button.f-button-reset
						| Очистить