.wrap-form-contact
	.form-contact
		h3.title-form.white-text Связаться со мной
		form.form-contact__container
			.form-contact__container__input
				input(type='text' placeholder="Ваше имя").f-input.f-input-name
			.form-contact__container__input
				input(type='email' placeholder="Ваш email").f-input.f-input-email
			.form-contact__container__input
				textarea(placeholder="Ваше сообщение").f-input.f-input-textarea
			.form-contact__container__controls
				.form-contact__controls-button
					button(type='submit').f-button.f-button-submit
						| Отправить
				.form-contact__controls-button
					button(type='reset').f-button.f-button-reset
						| Очистить