header.header.res
	.heade__top-line
		include social_icon			
		.navigation
			button.btn-sandwitch
				span.btn-sandwitch__togle
					span.sw-top
					span.sw-middle
					span.sw-bottom
			nav.main-nav
				ul.nav-list
					li.nav-item
						a Главная
					li.nav-item
						a Вторая страница
					li.nav-item
						a Третья страница
	.wrap-user-info
		.user-info
			.user-info__avatar
				img(class="user-info__avatar__img", src="img/userfiles/photo.jpg", alt="Иван Попов")
			.user-info_name
				h2.name-user Иван Попов
			.user-info_description
				p.descr Веб Разработчик

