header.header
	.wrap-header
		.header__top-line
			include social_icon
			include navigation
		.header-info
			.header-info__avatar
				img(class="header-info__avatar__img", src="img/userfiles/photo.jpg", alt="Иван Попов")
			.header-info__title
				h2.h-info__title Иван Попов
			.header-info__description
				p.h-info__descr Веб Разработчик
	.arrow
		a(href="#").arrow-link