.navigation
	button.btn-sandwitch
		span.btn-sandwitch__toggle
			span.sw-line.sw-top
			span.sw-line.sw-middle
			span.sw-line.sw-bottom
	.wrap-navigation
		nav.main-nav
			ul.nav-list
				li.nav-list__item
					a(href="/works.html").nav-list__item__link Мои работы
				li.nav-list__item
					a(href="/blog.html").nav-list__item__link Блог
				li.nav-list__item
					a(href="about.html").nav-list__item__link Обо мне
				li.nav-list__item
					a(href="index.html").nav-list__item__link Авторизация