.navigation
	button.btn-sandwitch
		span.btn-sandwitch__toggle
			span.sw-line.sw-top
			span.sw-line.sw-middle
			span.sw-line.sw-bottom
	.wrap-navigation
		nav.main-nav
			+menu('nav-list', 'nav-list__item')