.contacts-popup
	h4.tittle-h3.bottom-line Контакты
	ul.contacts-popup__list
		li.contacts-popup__list__item
			.contact-list__item_wrap-icon
				i.contact-list__item__icon.icon-skype
			.contact-list__item_wrap-descr
				a.contacts-popup__link(href="tel:spag77" ).
					spag77
		li.contacts-popup__list__item
			.contact-list__item_wrap-icon
				i.contact-list__item__icon.icon-phone
			.contact-list__item_wrap-descr
				a.contacts-popup__link(href="tel:+754652590" ).
					+7 950 040 6444
		li.contacts-popup__list__item
			.contact-list__item_wrap-icon
				i.contact-list__item__icon.icon-mail
			.contact-list__item_wrap-descr
				a.contacts-popup__link(href="mailto:vian142@gmail.com").
					vian142@gmail.com
		li.contacts-popup__list__item
			.contact-list__item_wrap-icon
				i.contact-list__item__icon.icon-location
			.contact-list__item_wrap-descr
				a.contacts-popup__link(href="#").
					г.Санкт-Петербург, не дом и не улица
