.contacts-popup
	h4.title-popup Контакты
	ul.contacts-popup__list
		li.contacts-popup__list__item
			.contact-list__item_wrap-icon
				i.contact-list__item__icon.icon-skype
			a.contacts-popup__link(href="tel:spag77" ).
					spag77
		li.contacts-popup__list__item
			.contact-list__item_wrap-icon
				i.contact-list__item__icon.icon-phone
			a.contacts-popup__link(href="tel:+754652590" ).
					+7568616545
		li.contacts-popup__list__item
			.contact-list__item_wrap-icon
				i.contact-list__item__icon.icon-mail
			a.contacts-popup__link(href="mailto:vian142@gmail.com").
					vian142@gmail.com
		li.contacts-popup__list__item
			.contact-list__item_wrap-icon
				i.contact-list__item__icon.icon-location
			a.contacts-popup__link(href="#").
					СПБ Улица. дом 5
