.wrap-icons
     ul.social-icons-list
          li.social-icon
               a(href="https://vk.com/volk_mastermind",target="_blank").social-icon__link
                    i.icon-item.icon-vkontakte
          li.social-icon
               a(href="https://github.com/Vian142/", target="_blank").social-icon__link
                    i.icon-item.icon-github
          li.social-icon
               a(href="https://ru.linkedin.com/in/иван-попов-9abba8123", target="_blank").social-icon__link
                    i.icon-item.icon-linkedin