.wrap-icons
	ul.social-icons-list
		li.social-icon
			a.social-icon__link
				i.icon-item.icon-vkontakte
		li.social-icon
			a.social-icon__link
				i.icon-item.icon-github
		li.social-icon
			a.social-icon__link
				i.icon-item.icon-linkedin