.welcome-block.face
	.header-info__avatar
		img(class="header-info__avatar__img", src="img/userfiles/photo.jpg", alt="Иван Попов")
	.header-info__title
		h2.h-info__title Иван Попов
	.header-info__description
		p.h-info__descr Веб Разработчик
	ul.social-icons-list
		li.social-icon
			a.soc-icon-welcome.social-icon__link(href="https://vk.com/volk_mastermind")
				i.icon-item.icon-vkontakte
		li.social-icon
			a.soc-icon-welcome.social-icon__link(href="https://github.com/Vian142/")
				i.icon-item.icon-github
		li.social-icon
			a.soc-icon-welcome.social-icon__link(href="https://ru.linkedin.com/in/иван-попов-9abba8123")
				i.icon-item.icon-linkedin
	ul.horizont-nav
		li.horizont-nav__item
			a(href="/works.html").horizont-nav__item__link Мои работы
		li.horizont-nav__item
			a(href="/about.html").horizont-nav__item__link Обо мне
		li.horizont-nav__item
			a(href="/blog.html").horizont-nav__item__link Блог