.main-content.clearfix
	.left-side.area-content
		.text-block
			h3.text-block__title Сайт школы онлайн образования
			p.text-block__descr html, css, javascript
			.text-block__link
				a(href="#").link-btn
					i.icon-link
					Посмотреть сайт
	.right-side.area-content